.buttonContainer {
  margin-bottom: 5px;
}

.button {
  border-radius: 5px;
  border-color: cadetblue;
  font-size: 13px;
  margin-right: 5px;
}

button:hover,
button:focus {
  background: transparent;
  outline: none;
}
